#first {
    /* background-image: url(../../assets/ia.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh; */
    background-color: lightskyblue;
    height: 100vh;
}

p {
    font-family: 'Reggae One', cursive;
    text-align: center;
    margin-top: 350px;
    text-decoration: underline;
    font-weight: bold;
    color: white;
    font-size: 40px;
    cursor: pointer;
    transition: 0.8s;
}

p:hover {
    color: black;
    transition: 0.8s;
}

@media screen and (min-width:320px) and (max-width:767px) {
    p {
        font-size: 30px;
    }
}