<app-header></app-header>
<section id="about">
      <div class="container">
      <div class="row" >
             <div class="col-xl-12 col-lg-12 col-md-12 col-sm-4 col-12 ">
             <div class="abouthead">
<h1> CAREER OBJECTIVE</h1>
<h2> To be able to work for company that will assist me in developing,
improving and obtaining the necessary skills. </h2>
             </div>
              </div>          

     
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-4 col-12 ">
            <div class="aboutexperience">
<h1>Experience</h1>
<h2>Three Monnths (27/02/2020 to 27/04/2020) as a Trainee Developer
in Asp.net Mvc at Swadesh Software Pvt. ltd,Durgapur(West Bengal).</h2>
              </div>
              </div>              


             <div class="col-xl-12 col-lg-12 col-md-12 col-sm-4 col-12 ">
             <div class="aboutcertificate">
<h1>Certification</h1>
<h2>1. Four Months (Aug,2019 to Dec,2019) Training in Asp.net From EJOBINDIA,Kolkata.</h2>
<h3>2. Python Programming Course from 7 Dec,2020 to Feb,2021 From Code Quest.</h3>
            </div>
            </div>     

             <div class="col-xl-12 col-lg-12 col-md-12 col-sm-4 col-12 ">
             <div class="skills">
<h1>Technical Skills</h1>
<h2>1.Html,Css,Javascript.</h2>
<h3>2.Angular,Typescript,Sql and Asp.net Mvc.</h3>
             </div>
               </div>  

               <div class="col-xl-12 col-lg-12 col-md-12 col-sm-4 col-12 ">
              <div class="Qualify">
<h1>Academic Qualification</h1>
<h2>Qualification   Institution         Board        Year   Percentage</h2>
<hr>
<h3>B.Tech         P.I.E.T,Rourkela    BPUT,Odisha    2016    74%
<hr>
<br>Intermediate   O.P.S.,Ranchi       CBSE           2012    76%
<hr><br>
Matriculation  K.S.C.S.,Bermo          CBSE           2010    82%</h3>
<hr>
                </div>
                 </div>  
</div>
</div>
</section>
