<app-header></app-header>
<section id="work">
      <div class="container">
     <h1>Projects</h1>
      <div class="row" >
       
       
         
             <div class="col-xl-10 col-lg-9 col-md-9 col-sm-4 col-xs-4 col-12 ">
         


<div class="five">

<a href="https://shant607.github.io/portfolio/"><p>1.Angular Website</p></a>
</div>
             
             </div>

 




<div class="col-xl-10 col-lg-9 col-md-9 col-sm-4 col-12 ">
          
<div class="three">


<a href="https://shant607.github.io/ReactAppLanding/"><p>2.React AppLanding</p></a>

</div>
             
             </div>



             




</div>
</div>

</section>
